<main style="height: 100vh;">
    <div class="d-flex justify-content-center align-items-center">
        <div class="container container-md">
            <div class="containerSearch">
                <div class="searchMovie">
                    <form [formGroup]="movieForm" (ngSubmit)="searchMovie()">
                        <input type="text" placeholder="Digite algum filme" formControlName="movieName">
                        <input [disabled]="movieForm.invalid" type="submit" value="Pesquisar">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="this.hasMovies()" class="d-flex justify-content-center align-items-center;">
        <div class="container" id="container">
            <div>
                <app-info-movie [linkPhoto]="this.movieInfos.linkPhoto" [title]="this.movieInfos.title"
                    [imdbRating]="this.movieInfos.imdbRating" [dataated]="this.movieInfos.dataated"
                    [year]="this.movieInfos.year" [runtime]="this.movieInfos.runtime" [plot]="this.movieInfos.plot"
                    [actors]="this.movieInfos.actors" [genre]="this.movieInfos.genre"></app-info-movie>
            </div>
        </div>

    </div>
    
    <div *ngIf="this.movieInfos.erro">
        <div class="container" id="container">
            <h1 style="color:aliceblue; text-align: center;">Filme não encontrado!</h1>
        </div>

    </div>
</main>

